.home-page a {
    color: #FFF;
}
.links-container {
display: flex;
flex-wrap: wrap;
align-content: space-between;
}
.container-image {
    position: relative;
    display: inline-block;
    text-align: center;
}
.container-image img {
    width: 300px;
    height: auto;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 50px;
}
