.home-page a {
  color: #fff;
}
.home-page h2 {
  text-align: center;
  padding: 10% 0;
  font-size: 5vh;
}
.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-image,
.home-container {
  position: relative;
  text-align: center;
}
.container-image img {
  width: 300px;
  height: 300px;
  padding: 5%;
  border-radius: 100%;
}
.image-text,
.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.home-text {
  font-size: 25px;
  background-color: #e3e5e68f;
  padding: 2%;
  border-radius: 20px;
}
.image-text {
  font-size: 6vh;
}
.welcome-how {
  text-align: left;
}
.img-main {
  padding: 10%;

}
.title-destiny {
  background-color: #e3e5e68f;
  border-radius: 20px;
}
@media screen and (max-width: 400px) {
  .home-text h1 {
    font-size: 7vh;
  }
  .home-text h2 {
    font-size: 5vh;
  }
  .home-text p {
    font-size: 3vh;
  }
}
